<!DOCTYPE html>
<html>
  <head>
    <title>SegmedProject</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Segmed Photos">
    <meta property="og:image" content="https://segmed-dev.s3-us-west-1.amazonaws.com/personal-site/display.png">
    <meta property="og:image:height" content="627" />
    <meta property="og:image:width" content="1200" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://segmed-dev.s3-us-west-1.amazonaws.com/personal-site/icons8-camera-50.png" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
